<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web Site">
    <meta charset="utf-8">
    <title>JavaScript</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="user-block">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
</div>
<div class="user-block">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
</div>
<div class="user-block">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
</div>
<div>
    <button type="submit" id="registrationButton">Registration</button>
</div>
<script src="script/registration.js"></script>
</body>
</html>