<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web Site">
    <meta charset="utf-8">
    <title>JavaScript</title>
    <link rel="stylesheet" href="restaurant.css">
</head>
<body>
<form enctype="multipart/form-data">
    <input type="file" class="upload" id="photo-upload" name="photo"/>
    <button type="button" id="uploadButton">Upload</button>
</form>
<script src="script/restaurant.js"></script>
</body>
</html>